@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root{
    --bgc:#fcf7f1;
    --links-text:#E74646;
    --links-hoverText:#FA9884;
    --desctext:#454545;
    --btn-color:#FF6000;
    --links-font-size:20px;
    --header-font-size:28px;
    --supheader-font-size:24px;
    --box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.337);
}
*{
    font-family: 'Nunito', sans-serif;
}
body{
    background: var(--bgc);
    margin: 0;
    height: 100vh;
}
#root {
    height: 100%;
}
#root .App{
    height: 100%;
}
button
{
    border: 1px solid rgba(0, 0, 0, 0.473);
    transition: 400ms ease-in-out;
    padding :10px 25px ;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
}
button:hover{
    border: 1px solid white;
}
li.AdminRoute{
    color: #b7a2a2;
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 1.5rem;
}
li.AdminRoute .gear{
    animation: GearSpiner 10s  linear infinite;
    -webkit-animation: GearSpiner 10s linear infinite;

}

@keyframes GearSpiner {
   
    to{-webkit-transform :rotate( 360deg);}
}
@-webkit-keyframes GearSpiner {
   
    to{-webkit-transform :rotate( 360deg);}
}